*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100v
}
.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
}
.logo
{
   height: 48px;
   padding: 2 px 10px; 

}
.icon-bar
{
    background: darkorange;
}